# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.log
settings.json
*.ini
.venv/
venv/
ENV/
env/

# Excel и временные файлы
*.tmp
~$*.xlsx

# Исключения для проекта
!.gitignore

# PyInstaller
build/
dist/
*.spec
!build_config/*.spec

# Временные файлы
*.pdb
*.manifest
failed_emails_*.txt

# Иконка приложения (опционально)
# icon.ico  # Раскомментируйте, если не хотите коммитить иконку
