# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.log
settings.json
*.ini
.venv/
venv/
ENV/
env/

# Excel и временные файлы
*.tmp
~$*.xlsx

# Исключения для проекта
!.gitignore

# Старый монолитный файл
mail_sender.py

# PyInstaller
build/
dist/
*.spec
!build_config/*.spec

# Временные файлы
*.pdb
*.manifest
